.agradecimiento {
  display: flex;
  padding: 20px 30px;
  height: 100px;
  background-color: var(--principal);
  justify-content: center;
  align-items: center;
}

.agradecimiento_parrafo{
  font-size: 1.3rem;
  font-family:var(--font2);
  color:var(--secundario)
}

@media screen and (max-width: 534px){
  .agradecimiento{
    text-align: center;
  }
}