.regalo{
  /* padding: 10px 20px; */
  height: 560px;
  background-color: var(--secundario);
}

.titulo_regalo{
  font-size: 3rem;
  font-family:var(--font2) ;
  color: var(--principal);
}

.regalo_parrafo{
  font-size: 1.6rem;
  font-family:var(--font2);
  color: var(--principal-oscuro);
}

.regalo_col{
  background-color:var(--secundario);
  padding: 30px 2px;
  margin: 10px 25px ;
  border-radius: 20px;
  overflow: hidden;
  text-align: center;
  width: 70%;
}

@media screen and (max-width: 737px) {
  .regalo_col{
    width: 50%;
    margin:30px auto; 
  }
}

@media screen and (max-width: 500px) {
  .titulo_regalo{
    font-size: 2.7rem;
  }
}
